.root{
    -fx-background-color: #b2bfb6;
}

.customRoot{
    -fx-background-color: #f9ece7;
}

.buttonCustom{
    -fx-background-radius: 15px;
    -fx-background-color: #5e756e;
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-text-fill: #252525;
}

.hbox{
    -fx-background-color: #5e756e;
}

.maxGridPane{
    -fx-background-color:  #b2bfb6;
}

.textField{
    -fx-background-color: #ffffff;
    -fx-border-color: #999999;
    -fx-border-width: 1.5;
    -fx-background-image: url(/images/unnamed.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}


.image-view{
    -fx-border-color: #999999;
    -fx-border-width: 1.5;
    -fx-image: url("/images/Logo1.png");
}

.userPhoto{
    -fx-border-color: #999999;
    -fx-border-width: 1.5;
    -fx-image: url("/images/icon_black.png");
    -fx-border-radius: 50px;
}

.label{
    -fx-font-family: Calibri;
    -fx-font-size: 25;
    -fx-prompt-text-fill: true;
}

.customLabel{
    -fx-font-family: Calibri;
    -fx-font-size: 18;
    -fx-prompt-text-fill: true;
}

.button{
    -fx-background-radius: 15px;
    -fx-background-color: #fbeae2;
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-text-fill: #252525;
}

.button:focused{
    -fx-background-color: #f9b7a9;
    -fx-text-fill: #252525;

}

.titledPane{
    -fx-background-color:#ffffff ;
    -fx-border-color: #999999;
    -fx-border-width: 0.7;
}

.table-view{
    -fx-background-color:  #b2bfb6;
    -fx-text-fill: #252525;
}
.table-row-cell:selected{
    -fx-background-color: #f9b7a9;
    -fx-text-fill: #252525;
}

.table-row-cell:hover{
    -fx-background-color: #f9ece7;
    -fx-text-fill: #252525;
}

.table-row-cell{
    -fx-font-size: 18;
}

.table-view .column-header {
    -fx-background-color: #ffffff;
}

.table-view .column-header .text{
    -fx-fill: #f9b7a9;
    -fx-font-family: Calibri;
}

.acceptBttn{
    -fx-background-radius: 15px;
    -fx-background-color: #77d0af;
    -fx-text-fill: #252525;
}
.acceptBttn:focused{
    -fx-background-color: #62947b;
    -fx-text-fill: #252525;
}

.rejectBttn{
    -fx-background-radius: 15px;
    -fx-background-color: #d14545;
    -fx-text-fill: #252525;
}

.rejectBttn:focused{
    -fx-background-color: #9e1b1b;
    -fx-text-fill: #252525;
}

.list-cell {
    -fx-background-color: white;
}

.list-cell:hover {
    -fx-background-color: #fbeae2;
}

.list-cell:selected {
    -fx-background-color: #f9b7a9;
}
.list-view {
    -fx-background-color: transparent;
    -fx-border-width: 1.5;
    -fx-border-color: #fbeae2;
}

.chatLabel{
    -fx-font-family: Arial;
    -fx-font-size: 17;
    -fx-prompt-text-fill: true;
}


.messageLabel{
    -fx-font-family: Arial;
    -fx-font-size: 17;
    -fx-prompt-text-fill: true;
    -fx-border-width: 1.2;
    -fx-border-color: white;
    -fx-background-color:  #f9b7a9;
}

.text-area{
    -fx-border-color: #ffe7b8;
    -fx-border-width: 1.2;
    -fx-background-color: transparent;
    -fx-animated: true;
    -fx-background-radius: 1.5;
    -fx-border-radius: 1.5;
}

.tab-pane *.tab-header-area *.tab-header-background{
    -fx-background-color: transparent;
}

.tab {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-color:#fbeae2; ;
    -fx-text-base-color: white ;
}

.tab:selected{
    -fx-background-color:  #f9b7a9;
}

.dateLabel{
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-prompt-text-fill: true;
}


/*********************************************************************************/


.titled-pane > .title{
    -fx-font-family: Calibri;
    -fx-font-size: 18;
    -fx-text-fill: #252525;
    -fx-background-color: #b2bfb6 ;
    -fx-background-radius: 50;
    -fx-border-color: #fbeae2;
    -fx-border-width: 1.4;
    -fx-border-radius: 50;
}


.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-image: url(/images/back-icon.png);
    -fx-rotate: 180;
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}

.myLabel{
    -fx-font-family: Calibri;
    -fx-font-size: 18;
    -fx-prompt-text-fill: true;
}

.customText{
    -fx-background-color: #ffffff;
    -fx-border-color: #999999;
    -fx-border-width: 1.5;
}
