.imageLogo{
    -fx-image: url("/images/Logo1.png");
    -fx-cell-size: 10px;
}

.background{
    -fx-background-color: #b2bfb6;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    -fx-background-radius: 15px;
    -fx-background-color: #f9b7a9;
}

.text-field{
    -fx-border-color: #404040;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-font-family: Calibri;
    -fx-font-size: 16px;
}